.data-check {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.data-check__header {
  margin-top: 5px !important;
  color: var(--blue);
  font-weight: var(--lg-fw);
  text-transform: capitalize;
  margin: 0;
}

.data-check__status {
  margin-top: 5px !important;
  color: var(--green);
  font-weight: var(--lg-fw);
  text-transform: capitalize;
  margin: 0;
}
