.select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select:after {
  content: '^';
  font-size: 28px;
  color: var(--blue);
  -webkit-transform: rotate(0deg) scaleY(-0.6);
  -moz-transform: rotate(0deg) scaleY(-0.6);
  -ms-transform: rotate(0deg) scaleY(-0.6);
  transform: rotate(0deg) scaleY(-0.6);
  right: 18px;
  top: 0;
  position: absolute;
  pointer-events: none;
}

.select select {
  width: 100%;
  padding: 10px;
  border-radius: var(--sm-radius);
  border: solid 1px var(--gray);
  color: var(--blue);
  font-weight: var(--md-fw);
  text-transform: capitalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
