.tolerance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tolerance__header {
  font-weight: var(--lg-fw);
  margin: 5px 0 10px 0;
  color: var(--blue);
  text-transform: capitalize;
}

.tolerance__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
