.App {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  width: 80%;
  padding: 35px;
  border-radius: 30px;
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

.container__button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__header h1 {
  color: var(--blue);
  text-transform: capitalize;
  padding-bottom: 25px;
  border-bottom: solid 1px var(--gray);
}

.container__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.container__form__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container__form__left-section {
  width: 60%;
  padding: 0 35px 0 74px;
}

.container__form__right-section {
  width: 40%;
  padding: 0 74px 0 30px;
}

.container__form__footer {
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container__form__footer h3 {
  color: var(--blue);
}

.container__form__buttons > button {
  margin: 20px 10px;
}

.file-list {
  margin-top: 15px;
}
